<template name="type_1_game">
  <div class="card">
    <form>
    <div class="content">
      <div class="ui grid">
        <div class="row">
        <p class=" " style="font-size: x-large">
          {{#if initializevalues addsub }}
            <div style="padding-left: 20px">
              {{ addsub.num1 }}
              {{ addsub.operator }}
              {{ addsub.num2 }}

            </div>
          {{/if}}
          </p>
        </div>

        <div class="row" style="padding-left: 20px; padding-bottom: 20px">
          <div class="field">
            <input class="" type="text" name={{ addsub.answer }} id='Question' oninput="myFunction()"  value={{ addsub.userAnswer }}>
          </div>
        </div>

      </div>
    </div>
      <div class="extra content">
        <button class="ui button check-answer" style="padding-bottom: 10px" type="button">Check Answer</button>
        <div class="ui label" id='result'></div>
      </div>
    </form>
  </div>

  <script>
    function myFunction() {
      if( this.document.getElementById('Question').name == document.getElementById('Question').value) {
        this.document.getElementById('result').innerHTML = "Correct";
      }
      else{
        this.document.getElementById('result').innerHTML = "Try Again";
      }
    }
  </script>

</template>