<template name="type_1_game">
  <div class="card">
    <div class="content">
      <div class="ui grid">
        <div class="row">
        <p class=" " style="font-size: x-large">
          {{#if initializevalues addsub }}
            <div style="padding-left: 5px">
              {{ addsub.num1 }}
              {{ addsub.operator }}
              {{ addsub.num2 }}

            </div>
          {{/if}}
          </p>
        </div>
        <div class="row">
          <var id="input">
            {{> Text_Form_Control placeholder="Type Answer" value=addsub.userAnswer errorMessage=(fieldError
              "answer")}}
          </var>

        </div>
      </div>
    </div>

    <div class="extra content">
      <button class="ui button check-answer" type="button">Check Answer</button>
    </div>
  </div>

</template>