<template name="type_1_game">
  <div class="card">
    <div class="content">
      <div class="ui grid">
        <div class="row">
          <p class=" " style="font-size: x-large">
            {{#if initializevalues n1=addsub.num1 n2=addsum.num2 answ= addsum.answer }}
              {{ addsub.num1 }}
              {{ addsub.operator }}
              {{ addsub.num2 }}
            {{/if}}
          </p>
        </div>
        <div class="row">
          {{> Text_Form_Control placeholder="Type Answer" errorMessage=(fieldError
              "answer")}}
        </div>
      </div>
    </div>

    <div class="extra content">
      <button class="ui button check-answer" type="submit">Check Answer</button>
    </div>
  </div>

</template>