<template name="Game1_Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="/"><h1 style="color: goldenrod">Math Rush</h1></a>
      <a class="item" href="/home-page"><h2>Home</h2></a>
      <a class="item" href="/user-profile-page"><h2>Your Profile</h2></a>
      <a class="item" href="/leaderboard-page"><h2>Leaderboard</h2></a>
      <a class="item" href="/game-types-page"><h2>Game Types</h2></a>
    </div>
  </div>
</template>
