body {
  padding-top: 0px;
}

th {
  padding-left: 0px;
}

.ui.heading1 {
  text-align: center;
  font-size: 100px;
}
.ui.heading2 {
  padding: 40px 0px 0px 0px;
  text-align: center;
  font-size: 50px;
}
.ui.heading3 {
  padding-bottom: 20px;
  text-align: center;
  font-size: 20px;
}
.ui.heading4 {
  padding: 40px 0px 0px 0px;
  text-align: center;
  font-size: 40px;
}
.ui.left.header {
  padding-left: 1800px;
  padding-top: 10px;
}